body {
  background-color: #ffffff;
    


}




.galleryFilters {
  margin: 20px auto;
   }
  .galleryFilters .filterList {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0; 
    margin-bottom: 10;
  }
    .galleryFilters .filterList .filterListItem {
      margin: 3px;
      margin-right: 0px; 
    padding: 7px;}
      .galleryFilters .filterList .filterListItem.active {
        background-color: #9517c3; }
  .galleryFilters .violetBtn {
    background-color: #610f7f;
    color: #ffffff; }
  .galleryFilters .searchBar {
    
   
    border-color: #610f7f; }
    .galleryFilters .searchBar:focus {
      box-shadow: 0px 0px 5px #610f7f; }

.galleryContainer .thumbnail {
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px; }
  .galleryContainer .thumbnail img {
    max-width: 100%;
    border-radius: 5px;
    box-sizing: border-box;

  }
  .galleryContainer .thumbnail .item-desc {
    position: absolute;

    right: 11px;
    left: 10px;
    color: #ffffff;
    background-color:rgba(209, 201, 201, 0.822);
     padding: 5px 14px;
    border-radius: 10px;
   }

.group {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.25em;
}    

.item {
  padding: 1em;
}

ul {
  padding-inline-start: 0px;
}

.edit {
  height: 300px;
  width: inherit;
  overflow-y: auto;
  /* overflow: scroll; */
}
.edit2 {
  height: 100px;
  width: auto;
  /* overflow-y: auto; */
  /* overflow: scroll; */
}

.btn-group .btn, .btn-lg {
  padding: .12rem 1rem;
    width: auto;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.secondbtn {
  opacity: 0;
  text-align: center;
  margin-bottom: 1%;
  border-top: 2px solid yellowgreen;
  border-bottom: 2px solid yellowgreen;}

.second {
  margin-top: 12%;
 text-align: center;
  opacity: 0;
  border-top: 2px solid yellowgreen;
  border-bottom: 2px solid yellowgreen;
}
.display {
  opacity: none;
}
.btn-sucess {
  padding-left: 20px;
}











.galleryFilters2 {
  margin: 20px auto;
   }
  .galleryFilters2 .filterList {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0; 
    margin-bottom: 10;
  }
    .galleryFilters2 .filterList .filterListItem {
      margin: 3px;
      margin-right: 0px; 
    padding: 7px;}
      .galleryFilters2 .filterList .filterListItem.active {
        background-color: #9517c3; }
  .galleryFilters2 .violetBtn {
    background-color: #610f7f;
    color: #ffffff; }
  .galleryFilters2 .searchBar {
    
   
    border-color: #610f7f; }
    .galleryFilters2 .searchBar:focus {
      box-shadow: 0px 0px 5px #610f7f; }

.galleryContainer2 .thumbnail {
  padding-bottom: 10px;
  position: relative;
  border-radius: 5px; }
  .galleryContainer2 .thumbnail img {
    max-width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);  */
  }
  .galleryContainer2 .thumbnail .item-desc {
    position: absolute;

    right: 11px;
    left: 10px;
    color: #ffffff;
    background-color:rgba(209, 201, 201, 0.822);
     padding: 5px 14px;
    border-radius: 10px;
   }


   .header1 {
     padding-top: 5px;
     text-align: center;
   }


   .header2 {
     text-align: center;
   }

   #txt3 {
         font-weight: 700;
         font-size: larger;
   }